<h2>Olympic games app</h2>
<hr />
<div>
    <!--* -->
    <app-heading [headingInfo]="headingInfo"></app-heading>
    <!--* -->
    <!-- <div class="heading">
        <div class="center">
            <div>Medals per Country</div>
        </div>
        <div class="split">
            <div>
                <p>Number of JOs</p>
                <p>{{totalJOs}}</p>
            </div>
            <div>
                <p>Number of countries</p>
                <p>{{totalCountries }}</p>
            </div>
        </div>
    </div> -->
    <canvas id="MyPieChart">{{ pieChart }}</canvas>
</div>